<%
=begin%>
 <li id="@comment-<%= @comment.id %>" data-@comment-id="<%= @comment.id %>">
<span class="user"><%= link_to @comment.user_id, @comment.user %></span>
<span class="content"><%= @comment.content %></span>
  <%= render "likes/like" %>
</li> 
<%
=end%>

<% @comments.each do |comment|%>
  <div class=card>
    <%= link_to comment.user.name, user_path(comment.user_id) %>
    <p>内容:<%= comment.content %></p>
  </div>
<% end %>