<li id="comment-<%= comment.id %>" data-comment-id="<%= comment.id %>">
  <% if comment.user.avatar? %>
    <%= image_tag comment.user.avatar.url, class: "rounded-circle profile", size: "50x50" %>
  <% else %>
    <%= image_tag ("default-avatar.png"), class: "rounded-circle profile", size: "50x50" %>
  <% end %>
  <%= link_to comment.user.name, comment.user %>
  <span class="date"><%= comment.created_at.strftime('%Y年%m月%d日') %></span>
    <div id="star-rate<%= comment.id %>"></div>    
    <script>
      $('#star-rate<%= comment.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true, // 星を読み取り専用にする
        score: <%= comment.raty %>,
      });
    </script>
  <span class="content"><%= comment.content %></span>
  <div id="likes_buttons_<%= comment.id %>">
  <%= render "likes/like", comment: comment %>
  </div>
</li>


