<%= form_for @comment do |f| %>
<div class="field" id="star">
  <%= f.label :raty, "星評価：" %>
  <%= f.hidden_field :raty, id: :comment_star %>
<script>
    $('#star').raty({
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'comment[raty]',  <!-- ratyカラムへの保存 -->
      half: true  <!-- 星半分の入力 -->
    });
</script>
</div>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.text_field :content, class: "text-field" %>
  
  <%= f.submit '投稿', class: "submit-btn" %>
<% end %>
