<% if logged_in? %>

<%= link_to '条件付き検索はこちら', root_path %>
<h1>映画検索</h1>
<%= search_form_for @q, url: search_movies_path do |f| %>
  <%= f.label :title_or_country_eq, '映画名または作成国' %>
  <%= f.search_field :title_or_country_eq %>
  <br>
  <%= f.submit '検索' %>
<% end %>
  <h2>あなたの観たいインディーズ映画がきっと見つかる</h2>

<div class="container">
  <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-md-4">
        <%= image_tag movie.image.thumb.url %>
        <li><%= link_to movie.id, movie %> : <%= movie.title %></li>
      </div>
      <% end %>
  </div> 
</div>
<% else %>
<%= link_to '条件付き検索はこちら', root_path %>
<h1>映画検索</h1>
<%= search_form_for @q, url: search_movies_path do |f| %>
  <%= f.label :title_or_country_eq, '映画名または作成国' %>
  <%= f.search_field :title_or_country_eq %>
  <br>
  <%= f.submit '検索' %>
<% end %>
  <h2>あなたの観たいインディーズ映画がきっと見つかる</h2>

<div class="container">
  <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-md-4">
        <%= image_tag movie.image.thumb.url %>
        <li><%= link_to movie.id, movie %> : <%= movie.title %></li>
      </div>
      <% end %>
  </div> 
</div>
<% end %>