<%= form_tag search_movies_path, method: :get, class: "navbar-form navbar-left" do %>
    <div class="input-group">
      <%= search_field_tag :looking_for, nil, placeholder: '映画タイトル', class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>
          <span class="bi bi-film"></span> 検索
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<div class="container">
  <div class="jumbotron text-center"  style="background:url(https://pakutaso.cdn.rabify.me/shared/img/thumb/BOB96P8110162.jpg?d=1420); background-size:cover;">
    <h1>あなたの観たいインディーズ映画がきっと見つかる</h1>
      <p>「ジャンボトロン」とは、元はソニーが開発・製作していた大型映像表示装置の名称。<br>転じて英語圏では、大型表示ディスプレイを指す一般名詞としても使われている。</p>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-md-4">
          <%= link_to "/movies/#{movie["id"]}", :target => "new" do %>        
          <%= image_tag movie.image.thumb.url %>
          <h3><%= movie["title"] %></h3>
            <% end %>
      </div> 
      <% end %>
  </div> 
</div>

              
  