<div class="container-fluid area-width search-page">
  <%= search_form_for @q, url: search_movies_path do |f| %>
  <%= f.search_field :title_eq, placeholder:'映画タイトル' %>
  <%= f.submit '検索' %>
<% end %>

<div class="container">
  <div class="jumbotron text-center"  style="background:url(https://pakutaso.cdn.rabify.me/shared/img/thumb/BOB96P8110162.jpg?d=1420); background-size:cover;">
    <h1>あなたの観たいインディーズ映画がきっと見つかる</h1>
      <p>「ジャンボトロン」とは、元はソニーが開発・製作していた大型映像表示装置の名称。<br>転じて英語圏では、大型表示ディスプレイを指す一般名詞としても使われている。</p>
  </div>
</div>

<br>
<br>
<div class="container">
  <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-md-4">
        <%= image_tag movie.image.thumb.url %>
        <ul><%= link_to movie.title, movie %>
      </div>
      <% end %>
  </div> 
</div>
