<div class="container-fluid area-width search-page">
  <%= search_form_for @q, url: search_movies_path do |f| %>
  <%= f.search_field :title_eq, placeholder:'映画タイトル' %>
  <%= f.submit '検索' %>
<% end %>
  <h1>あなたの観たいインディーズ映画がきっと見つかる</h1>
<br>
<br>
<div class="container">
  <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-md-4">
        <%= image_tag movie.image.thumb.url %>
        <ul><%= link_to movie.title, movie %>
      </div>
      <% end %>
  </div> 
</div>
