<div class="container-fluid area-width search-page">
<h1>映画条件検索</h1>
<br>
<%= search_form_for @q, url: search_movies_path do |f| %>
<%= f.label :released_year, '公開年' %>
  <%= f.radio_button :released_year, '1970~1979' %>~1979年
  <%= f.radio_button :released_year, '1980~1989' %>1980年~1989年
  <%= f.radio_button :released_year, '1990~2030' %>1990年~
  <%= f.submit '検索' %>
<% end %>

<hr>

<div class="search-data">
      <h2>ジャンル選択</h2>
      <%= search_form_for @q, url: search_movies_path do |f| %>
        <%= f.label :genre_eq, 'ジャンル' %>
        <%= f.collection_select :genre_eq, @movie_date, :genre, :genre,  include_blank: false %>
        <%= f.submit '検索' %>
      <% end %>
</div>