<div class="container-fluid movie-info">
<div class="row">
  <div class="col-lg-6" style="padding-left:20px;padding-right:20px;">
  
    <%= image_tag @movie.image.url, class: "movie_image" %>

    <div class="btn-toolbar">
          <%= render 'devise/shared/buttons', movie: @movie %>
    </div>

    <aside>
      <% if watched_check(@movie["id"]) %>
        <% if !@current_user_comment.nil? %>
          <h5>あなたのコメント・感想：</h5>
          <p><%= @current_user_comment.content %></p>
          <%= link_to "削除", @current_user_comment, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% else %>
            <%= render 'comment_form' %>
        <% end %>
      <% end %>
    </aside>
  </div>

  <div class="col-lg-6" style="padding-left:20px;padding-right:20px;">
    <h1><%= @movie.title %></h1>





      <div id="star-rate<%= @movie.id %>">
        <p>コメント<%= @movie.comments.count %>件</p>
      </div>   
    <script>
      $('#star-rate<%= @movie.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true, 
        score: <%= @movie.comments.average(:raty).to_f.round(1) %>,
      });
    </script>



    <div class="released">
      <p>公開年：<%= @movie.released_year %>年</p>
      <p><%= @movie.released_month %>月</p>
      <p><%= @movie.released_day %>日</p>
    </div>

    <p>ジャンル：
      <% @movie.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
    </p>
    <p>作成国：<%= @movie.country %></p>
    <p>上映時間：<%= @movie.screening_time %>分</p>
    <p>あらすじ…<%= @movie.synposis %></p>
  
</div>
  <% if !@movie_db.nil? && @movie_db.comments.any? %>
    <div class="container-fluid comments">
      <h5>コメント・感想（<%= @movie_db.comments.count %>件）</h5>
      <ol>
        <%= render @comments %>
      </ol>
    </div>
  <% end %>

</div>