<h1><%= @movie.title %></h1>
<br>
<p>公開年：<%= @movie.released_year %>年</p>
<p><%= @movie.released_month %>月</p>
<p><%= @movie.released_day %>日</p>
<p>作成国：<%= @movie.country %></p>
<p>上映時間：<%= @movie.screening_time %>分</p>
<p>あらすじ…<%= @movie.synposis %></p>
<p>ジャンル：<%= @movie.genre %></p>


<%= image_tag @movie.image.thumb.url %>
<%= form_for @review do |f| %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.text_field :text, class: "text-field" %>
  <div id="rating-form">
        <label>評価：</label>
        <%# scoreNameの値をhidden_fieldでカラムに送っている %>
        <%= f.hidden_field :rate, :value => 'score' %>
    </div>
  <%= f.submit '投稿', class: "submit-btn" %>
<% end %>

<% @reviews.each do |r| %>
  <%= r.text %>
<% end %>



<script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'review[rate]'
    $(document).ready(function() {
    $("#rating-form").text("成功！！");
  });
    });
</script>



<%= link_to '一覧に戻る', movies_path %>

