<h1><%= @movie.title %></h1>
<br>
<p><%= @movie.released_year %>年</p>
<p><%= @movie.country %></p>
<p><%= @movie.screening_time %></p>
<p><%= @movie.review %></p>
<p><%= @movie.synposis %></p>
<p>genre_id: <%= @movie.genre_id %></p>


<%= image_tag @movie.image.thumb.url %>

<%= link_to '一覧に戻る', movies_path %>

