<% if user_signed_in? && !current_user?(comment.user) %>
  <span class="like">
    <% if current_user.already_liked?(comment) %>
      <td>
        <%= link_to destroy_like_path(comment), method: :DELETE, remote: true do %> 
          <i class="fa fa-heart unlike-btn"></i> 
        <% end %> 
        <%= comment.likes.count %>
      </td>
    <% else %>
      <td>
        <%= link_to create_like_path(comment), method: :POST, remote: true do %> 
          <i class="fa fa-heart like-btn"></i> 
        <% end %> 
        <%= comment.likes.count %>
      </td>
    <% end %>
  </span>
<% else %>  
  <td>
    <i class="fa fa-heart unlike-btn"></i> 
    <%= comment.likes.count %>
  </td>
<% end %>   




