<% if user_signed_in? && current_user.id.to_s == params[:id] %>
  <p><%= @user.name %></p>

  <% if @user.avatar? %>
    <%= image_tag @user.avatar.url, class: "rounded-circle", size: "150x150" %>
  <% else %>
    <%= image_tag ("default-avatar.png"), class: "rounded-circle", size: "150x150" %>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
      </ul>
    </div>
  </div>

  <%= link_to '編集する', edit_user_registration_path %>

  <h1>投稿したレビュー</h1>
  <% @reviews.each do |review|%>
    <div class=card>
      <p>評価 :<%= review.raty %>点</p>
      <div id="star-rate<%= review.id %>"></div>    
      <script>
        $('#star-rate<%= review.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,  <!-- 星を読み取り専用にしていじれないようにする -->
          score: <%= review.raty %>,
        });
      </script>
      <p>内容:<%= review.text%></p>
    </div>

  <div class="col-lg-3" style="padding:0;">
    <div class="d-grid gap-2">
      <%= link_to "プロフィール", {}, :class => "btn btn-primary btn-block disabled" %>
      <%= link_to "観た映画のリスト", { :action => "watched" }, :class => "btn btn-outline-secondary btn-block" %>
      <%= link_to "観たい映画のリスト", { :action => "want" }, :class => "btn btn-outline-secondary btn-block" %>
    </div>
  </div>

  <% end %>

<% else %>
  <p><%= @user.name %></p>

  <% if @user.avatar? %>
    <%= image_tag @user.avatar.url, class: "rounded-circle", size: "150x150" %>
  <% else %>
    <%= image_tag ("default-avatar.png"), class: "rounded-circle", size: "150x150" %>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
      </ul>
    </div>
  </div>


  <h1>投稿したレビュー</h1>
  <% @reviews.each do |review|%>
    <div class=card>
      <p>評価 :<%= review.raty %>点</p>
      <div id="star-rate<%= review.id %>"></div>    
      <script>
        $('#star-rate<%= review.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          readOnly: true,  <!-- 星を読み取り専用にしていじれないようにする -->
          score: <%= review.raty %>,
        });
      </script>
      <p>内容:<%= review.text%></p>
    </div>
  <% end %>
<% end %>

<%= render 'relationships/follow_button', user: @user %>

<div class="col-lg-3" style="padding:0;">
  <div class="d-grid gap-2">
    <%= link_to "プロフィール", {}, :class => "btn btn-primary btn-block disabled" %>
    <%= link_to "観た映画のリスト", { :action => "watched" }, :class => "btn btn-outline-secondary btn-block" %>
    <%= link_to "観たい映画のリスト", { :action => "want" }, :class => "btn btn-outline-secondary btn-block" %>
  </div>
</div>

