<h1>Users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<% if @user.avatar? %>
  <%= image_tag @user.avatar.url, class: "rounded-circle", size: '150x150' %>
<% else %>
  <%= image_tag ("default-avatar.png"), class: "rounded-circle", size: "150x150" %>
<% end %>


<% if @user == current_user %>
<%= link_to 'ユーザー編集', edit_user_registration_path %>
<% end %>