<%= stylesheet_link_tag "custom", :media => "all" %>
<div class="container-fluid area-width user">
  <div class="row">

    <div class="col-lg-9" style="padding-left:0;padding-right:40px;">
      <h2>観た作品のリスト（<%= @count %>本）</h2>

      <% if @list.blank? %>
        <p>観た作品はない</p>
      <% end %>

      <% unless @list.blank? %>

        <%= paginate @list %>

        <% @list.each do |m| %>
          <% movie = Movie.find(m.movie_id) %> 

          <div class="row movie-box">
            <%= link_to "/movies/#{movie["id"]}", :target => "new" do %>
              <div class="col-md-3 col-sm-3">           
                <%= image_tag movie.image.thumb.url %>
              </div>
              
              <div class="col-md-9 col-sm-9">
                  <h3><%= movie["title"] %></h3>
              </div>
            <% end %>

            <div class="col-md-3 col-sm-3"> </div>
            <div class="col-md-9 col-sm-9" style="padding-left:0;">
              <div class="row btn-date">
                <div class="col-md-8 col-sm-6 btn-toolbar">
                  <% if current_user?(User.find(@movielist.user_id)) %>
                      <%
=begin%>
 <% unless recommend_check(movie["id"]) %>
                        <% rec_list = Movielist.find_by(user_id: @user.id, listname: "recommend") %>
                        <%= button_to "おすすめ", list_movies_create_recommend_path,
                                      :class => "btn btn-info btn-md",
                                      :style => "margin-right:10px;",
                                      :params => {:movielist_id => rec_list.id, :movie_id => movie["id"]} %>
                      <% end %> 
<%
=end%>
                      <% watched_list = Movielist.find_by(user_id: @user.id, listname: "watched") %>
                      <%= button_to "削除", list_movies_destroy_path,
                                    :method => "delete",
                                    :class => "btn btn-md btn-danger",
                                    :data => { :confirm => "本当に削除しますか？" },
                                    :params => {:movielist_id => watched_list.id, :movie_id => movie["id"]} %>
                  <% end %>
                </div>
                <div class="col-md-4 col-sm-6" style="text-align:right">
                  <span>追加日：<%= m.created_at.to_s[0..9] %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @list %>
      <% end %>
    </div>

    <div class="col-lg-3" style="padding:0;">
      <div class="d-grid gap-2">
        <%= link_to "プロフィール", { :action => "show" }, :class => "btn btn-outline-secondary btn-block" %>
        <%= link_to "観た映画のリスト", {}, :class => "btn btn-primary btn-block disabled" %>
        <%= link_to "観たい映画のリスト", { :action => "want" }, :class => "btn btn-outline-secondary btn-block" %>
      </div>
    </div>

  </div>
</div>

