<% @reviews.each do |review|%>
  <div class=card>
    <%= link_to review.user.name, user_path(review.user_id) %>
    <p>評価 :<%= review.raty %>点</p>
    <div id="star-rate<%= review.id %>"></div>    
    <script>
      $('#star-rate<%= review.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,  <!-- 星を読み取り専用にしていじれないようにする -->
        score: <%= review.raty %>,
      });
    </script>
    <p>内容:<%= review.text%></p>
  </div>
<% end %>